.hero {
  background: #a9031e;
  padding: 100px 80px;
}

.hero-text-image {
  display: flex;
  justify-content: space-around;
}
.hero-text {
  width: 550px;
  margin-right: 100px;
}
.hero h1 {
  color: #f4f4f4;
  font-size: 70px;
  font-weight: 600;
  padding-bottom: 20px;
}

.hero span {
  color: #ffb501;
}
.hero p {
  padding-bottom: 20px;
  color: #f4f4f4;
  font-weight: 500;
}

.hero-image img {
  width: 500px;
}

.hero button {
  display: inline-block;
  padding: 12px 48px;
  background: #161616;
  font-size: 1rem;
  font-weight: 600;
  color: #fcfcfc;
  border-radius: 0.5rem;
  border: 2px solid #161616;
  transition: all 0.5s ease;
  margin-top: 20px;
  cursor: pointer;
}

.hero .button:hover {
  background: transparent;
  border: 2px solid #fcfcfc;
  /* color: #161616; */
}

.hero-small {
  display: flex;
  position: absolute;
  bottom: -40px;
  justify-content: space-around;
  max-width: 300px;
  margin-left: 50px;
}

.hero-small img {
  width: 70px;
  background-color: #fcfcfc;
  margin: 20px;
  padding: 5px;
  box-shadow: 0px 0px 20px 0px rgb(0, 0, 0.3);
}
