.about {
  background: #fcfcfc;
}
.about-text-image {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.about-images {
  display: flex;
  padding-left: 20px;
  margin-right: 50px;
}

.small-img {
  max-width: 180px;
  padding-top: 100px;
}

.chef {
  padding-bottom: 50px;
  max-height: 350px;
}

.about-text {
  background: #fcfcfc;
  max-width: 600px;
}

.about h1 {
  font-size: 70px;
  font-weight: 600;
}
.about span {
  color: #ffb501;
}
.about p {
  padding-bottom: 20px;
}

.about .button {
  display: inline-block;
  padding: 12px 48px;
  font-size: 1rem;
  font-weight: 600;
  color: #fcfcfc;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
  margin-top: 20px;
  cursor: pointer;
  background: #a9031e;
  border: 2px solid #a9031e;
}

.about .button:hover {
  background: transparent;
  color: #a9031e;
}
