.navbar{
    width: 100%;
    position: fixed;
    display: flex;
    background: #A9031e;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    z-index: 2;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

}


.nav-logo img {
    width: 50px;
}

.nav-logo p {
    color: #ffb501;
    font-size: 30px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #f4f4f4;
    font-size: 20px;
    font-weight: 500;

}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ffb501;
}

.nav-cart-delivery {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 30px;
}


.nav-cart-delivery img {
    cursor: pointer;
}

.nav-cart-count {
    padding: 10px;
    position: absolute;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-left: 35px;
    border-radius: 11px;
    font-size: 14px;
    background: #ffb501;
    color: #f4f4f4;
}

.fast-delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.fast-delivery p {
    color: #f4f4f4;
    font-weight: 500;
}