.food-delivery {
  background: #fcfcfc;
}

.delivery-and-food {
  display: flex;
  justify-content: center;
}

.text {
  align-items: center;
  align-self: center;
  margin-right: 100px;
}

.text h1 {
  font-weight: 600;
}

.text h4 {
  font-weight: 500;
}

.food-types {
  display: flex;
  margin-top: 50px;
}

.food-types .type {
  border: 2px solid grey;
  margin: 10px;
  text-align: center;
  width: 100px;
  padding: 10px 5px;
  border: 2px solid grey;
  text-align: center;
  cursor: pointer;
  margin: 20px 20px;
  border-radius: 8px;
  box-shadow: 1px 0.5px 5px -1px black;
}

.food-types .type img {
  width: 100%;
}

.delivery-types {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#root > div > div.food-delivery > div.delivery-types > div:nth-child(3) > div {
  background: #ffb501;
}

#root
  > div
  > div.food-delivery
  > div.delivery-types
  > div:nth-child(3)
  > div
  > button {
  background: #161616;
  color: #fcfcfc;
}
